.title {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.login-input {
    margin-bottom: 1em;
}

.login-btn {
    width: 50%;
    height: 25px;
    align-self: center;
}

.blogs-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 0.5em;
    padding: 0.5em;
    word-break: break-word;
}

.logged-user {
    display: flex;
    margin-bottom: 2em;
}


.logged-user>button {
    height: fit-content;
    align-self: center;
    margin-left: 0.5em;
}

.blog-form-container {
    width: 300px;
}

.blog-form {
    display: flex;
    flex-direction: column;
}

.blog-form>input {
    margin-bottom: 1em;
}

.blog-form>button {
    width: 30%;
    height: 2em;
}